## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [2]:
False

False

In [1]:
# Python code to test that 
# tuples are immutable 
  
tuple1 = (0, 1, 2, 3) 
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [2]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list) 

my_list.insert(1, 5)
print(my_list) 

my_list.remove(2)
print(my_list) 

popped_element = my_list.pop(0)
print(my_list)         
print(popped_element)

[1, 2, 3, 4]
[1, 5, 2, 3, 4]
[1, 5, 3, 4]
[5, 3, 4]
1

In [2]:
print(True,False)

True False

In [4]:
type(True)

bool

In [5]:
type(False)

bool

In [6]:
my_str='Krish123'

In [7]:
my_str.istitle()

True

In [8]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
False
False
True
False
False
False
False
True

### Boolean and Logical Operators

In [9]:
True and True

True

In [10]:
True and False

False

In [11]:
True or False

True

In [12]:
True or True

True

In [3]:
str_example='Hello World'
my_str='Ankit'

my_str.isalpha() or str_example.isnum()

True

In [5]:
# Python program to demonstrate 
# implicit type Casting 

# Python automatically converts 
# a to int 
a = 7
print(type(a)) 

# Python automatically converts 
# b to float 
b = 3.0
print(type(b)) 

# Python automatically converts 
# c to float as it is a float addition 
c = a + b 
print(c) 
print(type(c))

# Python automatically converts 
# d to float as it is a float multiplication
d = a * b
print(d)
print(type(d))

<class 'int'>
<class 'float'>
10.0
<class 'float'>
21.0
<class 'float'>

In [6]:
# Python program to demonstrate 
# type Casting 

# int variable
a = 5

# typecast to float
n = float(a)

print(n)
print(type(n))

5.0
<class 'float'>

In [7]:
# Python program to demonstrate 
# type Casting 

# int variable
a = 5.9

# typecast to int
n = int(a)

print(n)
print(type(n))

5
<class 'int'>

In [8]:
# Python program to demonstrate 
# type Casting 
# int variable
a = 5
# typecast to str
n = str(a)
print(n)
print(type(n))

5
<class 'str'>

In [9]:
print("Enter your name:")
name = input()
print(f"Hello {name}")

Enter your name:
Hello Ankit

In [10]:
import os
import math
import random as rd
""" from import statement does not import
    the entire module, only the required files
    in the module"""
from math import sqrt, pi

In [12]:
import sys
print(sys.argv)  # prints command line arguments
print(sys.version)  # prints python version
print(sys.exit())

['c:\\AIandGenAI_Krish_May25\\venv\\Lib\\site-packages\\ipykernel_launcher.py', '--f=c:\\Users\\User\\AppData\\Roaming\\jupyter\\runtime\\kernel-v3648c67d477a8d7bb13e99f1e916719499e665982.json']
3.12.9 | packaged by Anaconda, Inc. | (main, Feb  6 2025, 18:49:16) [MSC v.1929 64 bit (AMD64)]

SystemExit:

In [15]:
import os
print(os.getcwd())  # prints current working directory
print(os.listdir())  # prints files in current directory
print(os.path.exists("test.txt"))  # checks if file exists

c:\AIandGenAI_Krish_May25\0.1-Python
['2-Python List,Dictionary,Sets etc.ipynb', '3-Numpy Tutorial.ipynb', '4- Pandas tutorial.ipynb', '4.5-Matplotlib.ipynb', '5- Seaborn.ipynb', '6- Functions.ipynb', 'Advance Python Series- Inheritance--OOPS.ipynb', 'Advance Python Series- Public Private And Protected.ipynb', 'Advance Python Series-Magic Methods In Classes.ipynb', 'Advanced Python Assert.ipynb', 'Advanced Python Exception1.ipynb', 'Advanced-House-Price-Prediction--master', 'Asynchronous Execution With Thread Using Python.ipynb', 'Basics of Python.ipynb', 'Class Methods In Python.ipynb', 'df_excel', 'EDA.ipynb', 'EDA1-master', 'Excel_Sample.xlsx', 'mercedesbenz.csv', 'Modin Pandas.ipynb', 'Multiple Inheritance In Python.ipynb', 'Pdf Password Protection Using Python.ipynb', 'Pdf-Encryption-main', 'Python Decorators.ipynb', 'Python Eval() Functions.ipynb', 'Python IS Keyword.ipynb', 'Python Zip Function-Parallel Iteration.ipynb', 'Python- Iterators Vs Generators.ipynb', 'Python_Course.pptx', 'README.md', 'Shallow Copy Vs Deep Copy Python.ipynb', 'Static Methods In Python.ipynb', 'Test.csv', 'wine.csv']
False

In [16]:
import math
print(math.sqrt(16))  # prints square root of 16
print(math.pi)  # prints value of pi
print(math.factorial(5))  # prints factorial of 5
print(math.pow(2, 3))  # prints 2 raised to the power of 3
print(math.sin(math.pi / 2))  # prints sine of pi/2

4.0
3.141592653589793
120
8.0
1.0

In [ ]:
import datetime
print(datetime.datetime.now())  # prints current date and time
print(datetime.date.today())  # prints current date

2025-05-31 14:29:25.931551
2025-05-31
5 days, 0:00:00

In [18]:
import random
print(rd.randint(1, 10))  # prints a random integer between 1 and 10
print(rd.choice(['apple', 'banana', 'cherry']))  # prints a random choice from the list
print(rd.random())  # prints a random float between 0 and 1
print(rd.sample(range(100), 10))  # prints a random sample of 10 numbers from 0 to 99

2
apple
0.5313245874495574
[66, 0, 34, 50, 56, 90, 78, 6, 69, 4]

import random

In [13]:
my_string='Hello World'
print(my_string)

my_string1="""Hello, Welcome to 
          edifyIT"""
print(my_string1)

my_string2="Hello, Welcome to edifyIT"
print(my_string2)

Hello World
Hello, Welcome to
          edifyIT
Hello, Welcome to edifyIT

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [15]:
type([])

list

In [18]:
lst_example=[]

In [19]:
type(lst_example)

list

In [20]:
lst=list()

In [21]:
type(lst)

list

In [16]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [18]:
len(lst)

6

In [17]:
type(lst)

list

### Append

In [19]:
#.append is used to add elements in the list
lst.append("Krish")

In [27]:
lst.append(["John","Bala"])

In [28]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish', ['John', 'Bala']]

In [23]:
##Indexing in List
lst[6]

'Krish'

In [26]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

### Insert

In [29]:
## insert in a specific order

lst.insert(2,"Naik")

In [30]:
lst

['Mathematics',
 'chemistry',
 'Naik',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala']]

In [31]:
lst.append(["Hello","World"])

In [32]:
lst

['Mathematics',
 'chemistry',
 'Naik',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [30]:
lst=[1,2,3]

In [31]:
lst.append([4,5])

In [32]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [33]:
lst=[1,2,3,4,5,6]

In [34]:
lst.extend([8,9])

In [35]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [46]:
lst=[1,2,3,4,5]

In [42]:
sum(lst)

15

In [48]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [37]:
lst.pop()

5

In [38]:
lst

[1, 2, 3, 4]

In [39]:
lst.pop(0)

1

In [40]:
lst

[2, 3, 4]

### count():Calculates total occurrence of given element of List

In [41]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [49]:
#length:Calculates total length of List
len(lst)

6

In [44]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [45]:
##Min and Max
min(lst)

1

In [57]:
max(lst)

5

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [1]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [49]:
set_var={1,2,3,4,3}

In [50]:
set_var

{1, 2, 3, 4}

In [55]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Hitman', 'Avengers'}

set

In [56]:
## Inbuilt function in sets

set_var.add("Hulk")

In [ ]:
.

In [57]:
print(set_var)

{'IronMan', 'Hitman', 'Avengers', 'Hulk'}

In [63]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [65]:
set2.intersection_update(set1)

In [66]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [59]:
##Difference 
set2.difference(set1)

{'Hulk2'}

In [60]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [61]:
## Difference update

set2.difference_update(set1)

In [62]:
print(set2)

{'Hulk2'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [59]:
dic={}

In [60]:
type(dic)

dict

In [70]:
type(dict())

dict

In [68]:
set_ex={1,2,3,4,5}

In [69]:
type(set_ex)

set

In [72]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [64]:
type(my_dict)

dict

In [73]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [66]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [68]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [69]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [74]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [75]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [76]:
my_dict['Car1']='MAruti'

In [77]:
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [76]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [77]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [80]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [81]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [101]:
## create an empty Tuples

my_tuple=tuple()

In [102]:
type(my_tuple)

tuple

In [103]:
my_tuple=()

In [104]:
type(my_tuple)

tuple

In [ ]:
my_tuple=("Ankit","Ankur","John")

In [81]:
my_tuple=('Hello','World')

In [82]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [107]:
type(my_tuple)

tuple

In [1]:
## Inbuilt function
my_tuple.count('Krish')

NameError: name 'my_tuple' is not defined

In [117]:
my_tuple.index('Ankur')

1